%h1 Редактирование пользователя
= render 'form'
= link_to image_tag("/assets/images/show.png", :size => "32x32", :title => "Показать"), @user
\|
= link_to image_tag("/assets/images/prev.png", :size => "32x32", :title => "Назад"), users_path

