* { text-align: center }

table {
    width: 250px;
    margin: 0px auto;
    border: 3px;
    background-color: #A34;
}

.no {
    font-family: arial;
    background-color: black;
    color: orange; 
    font-style: italic
}

.operation {
    height: 25px;
    width: 35px;
    margin: 0 20px;
    font-size: 10px;
    font-family: arial;
    background-color: #28930B;
    border: 5px groove;
    color: white;
}

.twocols {
    height: 25px;
    width: 35px;
    margin: 0 18px;
    font-size: 10px;
    font-family: verdana;
    background-color: #C9BD21;
    border: 5px groove #111;
    color: magenta; 
}

a:link {color: magenta}
a:visited {color: #155BFF}
a:active {color: gree}
a:hover {font-size: 24; font-weight: bold; color: red;}

h1{
color:red
}